body{
    background-image: url(bg.jpg);
    background-attachment: fixed;
  background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    justify-content: center;
    z-index: 1;
}
